body {
    background-color: orange;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    margin: 30px;
}

.tabcontent {
    display: none;
}

.active {
    opacity: 50%;
}

